section
{	border : solid 2px black;
	margin : 15px;
	
}

#recette
{	float: left;
	width : 75%;
}

.imgcircle
{	border : solid 2px #E8C811;
	border-radius : 360px;
	margin : 10px;
	width : 250px;
	
}

#commentaires
{	margin-top:20%;

}

aside
{	margin-left: 78%;
	margin-top : 34px;
}


h1 { 
text-align:center;}

p{
 padding-left: 30px;
 padding-right: 30px;
}

header {
border-radius : 50px;
}
