section
{
	border : solid 1px black;
	margin : 15px;
}

#recette
{
	float: left;
	width : 75%;
}

.imgcircle
{
	border : solid 2px #E8C811;
	border-radius : 360px;
	margin : 10px;
	width : 250px;
}

#commentaires
{
	clear: both;
}

aside
{	margin-left: 78%;
	margin-top : 34px;
}


h3
{
	text-align:center;
}

p
{
	 padding-left: 30px;
	 padding-right: 30px;
}

header
{
	border-radius : 50px;
}

body
{
	padding: 30px;
}

#navbar li:hover
{
	background-color: #E8C811;
}

#produits img
{
	padding: 10px;
	background-color: transparent;
}

.carousel
{
	background: none;
}

#header-page
{
	background-image: url('../images/background-logo.jpg');
}

.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
    margin-bottom: 40px;
}

/* PANIER */
.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}

	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}

	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}



	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}

}

/* FIN PANIER */

#image-recette
{
	width: 250px;
}

#infos-recette td
{
	border: solid black 2px;
	padding: 5px;
}
